@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3> 

<h2>Who we are</h2>

<strong>Our Mission</strong>
<p>DisabledCommunity.Org (DCO)is a nonprofit 501 c 3 designed to help improve the quality of life for people with disabilities, their friends, caregivers and social service agencies.</p>
<br/>

<strong>Our Services</strong>
<p>DisabledCommunity.Org created an bookseller training program for people with disabilities. to create opportunities for meaningful employment. We teach computer, internet and business skills needed to run an online bookstore. Most of our booksellers have never been paid for employment or visited the post office prior to participating in our programs. DCO uses the income from these donated book sales to pay the rent.</p> 
<p>DCO also organizes community events to educate, entertain and end the isolation within our community. Please view our events section to learn more.</p>
