@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h4>Assistive Technology</h4>
        <ul>
            <li><a href="https://web.archive.org/web/20171216201816/http://disabledcommunity.org:80/browse/assistive_technology/accessibility">Accessibility</a></li>
            <li><a href="https://web.archive.org/web/20171216201816/http://disabledcommunity.org:80/browse/assistive_technology/accessibility">Accessible Design</a></li>
            <li><a href="https://web.archive.org/web/20171216201816/http://disabledcommunity.org:80/browse/assistive_technology/accessibility">Adaptive Clothing</a></li>
        </ul>

    </div>
    <div class="col-md-3">
        <h4>Disability Categories</h4>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Abuse</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Amputee</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Autism and Asperger's</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Blind and Vision Impaired</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Cancer</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Education</h4>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Employment</h4>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">ADA</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Attendant Services</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Careers</a></li>
        </ul>
    </div>
</div>
